<md-toolbar class="v-top-toolbar">
    <div layout="row" layout-align="start center" class="md-toolbar-tools">
        <div flex-gt-sm="90" flex-offset-gt-sm="5">Offer a bicycle</div>
    </div>
</md-toolbar>

<div layout-gt-sm="row" flex-gt-lg="80" flex-offset-gt-lg="10" flex="90" flex-offset="5" class="v-top-content">

    <div flex-gt-sm="30" class="v-create-bicycle-address v-card-style">

        <div class="v-font-color v-subheader" layout="row" layout-align="start center">
            <div>Location details</div>
        </div>

        <div flex class="v-create-bicycle-map">
            <div>
                <ui-gmap-google-map center='ctrl.map.center' zoom='ctrl.map.zoom'></ui-gmap-google-map>
            </div>
        </div>

        <div layout="column" class="v-lr-padding">
            <md-input-container class="md-icon-float">
                <label>Street</label>
                <md-icon class="md-icon">location_on</md-icon>
                <input type="text"  class="form-control" ng-model="ctrl.bicycle.street" required/>
            </md-input-container>

            <div layout-gt-sm="row">
                <md-input-container flex-gt-sm="60" class="md-icon-float md-block">
                    <label>Zipcode</label>
                    <md-icon class="md-icon">location_on</md-icon>
                    <input type="text"  class="form-control" ng-model="ctrl.bicycle.zipcode" required/>
                </md-input-container>

                <md-input-container flex-gt-sm="40" class="md-icon-float md-block">
                    <label>City</label>
                    <md-icon class="md-icon">location_on</md-icon>
                    <input type="text"  class="form-control" ng-model="ctrl.bicycle.city" required/>
                </md-input-container>
            </div>
        </div>
    </div>

    <div flex-gt-sm="70" class="v-create-bicycle-features v-card-style">

        <div class="v-font-color v-subheader" layout="row" layout-align="start center">
            <div layout="row" layout-align="start center" flex>
                <div class="v-font-color" flex> Bicycle description</div>
                <md-button class="md-raised md-accent md-padding">Save bicycle</md-button>
            </div>
        </div>

        <div layout="column" class="v-lr-padding" flex>
            <div layout-gt-sm="row">
                <md-input-container flex-gt-sm="45" class="md-icon-float">
                    <label>Price per day</label>
                    <md-icon class="md-icon">euro_symbol</md-icon>
                    <input type="text"  class="form-control" ng-model="ctrl.bicycle.price" required/>
                </md-input-container>
                <div flex hide-lt-sm></div>
                <md-input-container flex-gt-sm="45" class="md-icon-float">
                    <label>Bicycle type</label>
                    <md-icon class="md-icon">directions_bike</md-icon>
                    <input type="text"  class="form-control" ng-model="ctrl.bicycle.type" required/>
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container flex-gt-sm="45" class="md-icon-float">
                    <label>Size</label>
                    <md-icon class="md-icon">format_size</md-icon>
                    <input type="text" class="form-control" ng-model="ctrl.bicycle.gears" required/>
                </md-input-container>
                <div flex hide-lt-sm></div>
                <md-input-container flex-gt-sm="45" class="md-icon-float">
                    <label>Number of gears</label>
                    <md-icon class="md-icon">settings</md-icon>
                    <input type="text" class="form-control" ng-model="ctrl.bicycle.gears" required/>
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container flex-gt-sm="45" class="md-icon-float">
                    <label>Brand</label>
                    <md-icon class="md-icon">polymer</md-icon>
                    <input type="text"  class="form-control" ng-model="ctrl.street" required/>
                </md-input-container>
                <div flex hide-lt-sm></div>
                <md-input-container flex-gt-sm="45" class="md-icon-float">
                    <label>Carrier</label>
                    <md-icon class="md-icon">shopping_basket</md-icon>
                    <input type="text" class="form-control" ng-model="ctrl.bicycle.carrier" required/>
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container flex flex-gt-sm="45" class="md-icon-float">
                    <label>Dropdown</label>
                    <md-icon class="md-icon">person</md-icon>
                    <md-select ng-model="ctrl.blabla">
                        <md-option value="">
                            Dropdown
                        </md-option>
                    </md-select>
                </md-input-container>
                <div flex hide-lt-sm></div>
                <md-input-container flex flex-gt-sm="45" class="md-icon-float">
                    <label>Dropdown</label>
                    <md-icon class="md-icon">person</md-icon>
                    <md-select ng-model="ctrl.blabla">
                        <md-option value="">
                            Dropdown
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row" layout-align-gt-sm="end center" flex>
                <md-switch aria-label="List bicycle" ng-model="disabledModel">
                    List bicycle in search results
                </md-switch>
            </div>
        </div>

        <div class="v-font-color v-subheader" layout="row" layout-align="start center">
            <div>Features</div>
        </div>

        <div class="v-lr-padding" layout="column">
            <div id="features">
                <div layout-gt-sm="row">
                        <md-input-container flex-gt-sm="30" layout-align-gt-sm="start center" class="v-border-box">
                            <md-checkbox md-no-ink ng-model="data.cb5" class="md-primary">
                                Feature
                            </md-checkbox>
                        </md-input-container>
                    <div flex hide-lt-sm></div>
                        <md-input-container class="v-border-box" flex-gt-sm="30" layout-align-gt-sm="start center">
                            <md-checkbox md-no-ink ng-model="data.cb6" class="md-primary">
                                Feature
                            </md-checkbox>
                        </md-input-container>
                    <div flex hide-lt-sm></div>
                        <md-input-container class="v-border-box" flex-gt-sm="30" layout-align-gt-sm="start center">
                            <md-checkbox md-no-ink ng-model="data.cb7" class="md-primary">
                                Feature dadsksaldh jsakljaskldsallaskjdkjsakldjalkdjksajdlasja
                            </md-checkbox>
                        </md-input-container>
                </div>
                <md-button class="md-fab md-mini md-primary">
                    <md-icon>exposure_plus_1</md-icon>
                </md-button>
            </div>

            <div flex style="border: 5px dotted rgba(0,0,0,0.1); text-align: center" layout-margin>
                Drag or click to upload pictures
            </div>

        </div>
    </div>

</div>


