<md-toolbar class="v-top-toolbar">
    <div layout="row" layout-align="start center" class="md-toolbar-tools">
        <div flex-gt-sm="90" flex-offset-gt-sm="5" flex-xl="80" flex-offset-xl="10" layout="row">
            <div flex>
                Offer a bicycle
            </div>
        </div>
    </div>
</md-toolbar>

<form name="createBicycle" ng-submit="ctrl.saveBicycle()">
    <div layout-gt-sm="row" flex-gt-lg="80" flex-offset-gt-lg="10" flex="90" flex-offset="5" class="v-top-content" style="margin-bottom:20px;">

        <div flex-gt-sm="30" class="v-create-bicycle-address v-card-style">
            <div class="v-font-color v-subheader" layout="row" layout-align="start center">
                <div>Location details</div>
            </div>

            <div flex class="v-create-bicycle-map">
                <div>
                    <ui-gmap-google-map center='ctrl.map.center' zoom='ctrl.map.zoom'>
                        <ui-gmap-marker coords="ctrl.marker.coords" options="ctrl.marker.options"
                                        idkey="ctrl.marker.id">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>
            <div layout="column" class="v-lr-padding">
                <md-input-container class="md-icon-float">
                    <label>Street and number</label>
                    <md-icon class="md-icon">location_on</md-icon>
                    <input type="text" class="form-control" ng-model="ctrl.bicycle.street"
                           ng-blur="ctrl.getGeolocation()" required/>
                </md-input-container>

                <div layout-gt-sm="row">
                    <md-input-container flex-gt-sm="60" class="md-icon-float md-block">
                        <label>Zipcode</label>
                        <md-icon class="md-icon">location_on</md-icon>
                        <input type="text" class="form-control" ng-model="ctrl.bicycle.zipcode"
                               ng-blur="ctrl.getGeolocation()" required/>
                    </md-input-container>

                    <md-input-container flex-gt-sm="40" class="md-icon-float md-block">
                        <label>City</label>
                        <md-icon class="md-icon">location_on</md-icon>
                        <input type="text" class="form-control" ng-model="ctrl.bicycle.city"
                               ng-blur="ctrl.getGeolocation()" required/>
                    </md-input-container>
                </div>
            </div>
        </div>

        <div flex-gt-sm="70" class="v-create-bicycle-features v-card-style">

            <div class="v-font-color v-subheader" layout="row" layout-align="start center">
                <div layout="row" layout-align="start center" flex>
                    <div class="v-font-color" flex> Bicycle description</div>
                    <md-button class="md-raised md-accent md-padding" type="submit">Save bicycle</md-button>
                </div>
            </div>

            <div layout="column" class="v-lr-padding" flex>
                <div layout-gt-sm="row">
                    <md-input-container flex-gt-sm="45" class="md-icon-float">
                        <label>Price per day</label>
                        <md-icon class="md-icon">euro_symbol</md-icon>
                        <input type="number" class="form-control" ng-model="ctrl.bicycle.price" required/>
                    </md-input-container>
                    <div flex hide-sm hide-xs></div>
                    <md-input-container flex flex-gt-sm="45" class="md-icon-float">
                        <label>Bicycle Type</label>
                        <md-icon class="md-icon">directions_bike</md-icon>
                        <md-select ng-model="ctrl.bicycle.type">
                            <md-option ng-repeat="type in ctrl.bicycleTypes">
                                {{type}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container flex flex-gt-sm="45" class="md-icon-float">
                        <label>Size</label>
                        <md-icon class="md-icon">format_size</md-icon>
                        <md-select ng-model="ctrl.bicycle.size">
                            <md-option ng-repeat="size in ctrl.bicycleSizes">
                                {{size}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div flex hide-sm hide-xs></div>
                    <md-input-container flex-gt-sm="45" class="md-icon-float">
                        <label>Number of gears</label>
                        <md-icon class="md-icon">settings</md-icon>
                        <input type="number" class="form-control" ng-model="ctrl.bicycle.gears" required/>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container flex-gt-sm="45" class="md-icon-float">
                        <label>Brand</label>
                        <md-icon class="md-icon">polymer</md-icon>
                        <input type="text" class="form-control" ng-model="ctrl.bicycle.brand" required/>
                    </md-input-container>
                    <div flex hide-sm hide-xs></div>
                    <md-input-container flex flex-gt-sm="45" class="md-icon-float">
                        <label>Category</label>
                        <md-icon class="md-icon">supervisor_account</md-icon>
                        <md-select ng-model="ctrl.bicycle.category">
                            <md-option ng-repeat="category in ctrl.bicycleCategories">
                                {{category}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <md-input-container flex class="md-icon-float">
                    <label>Description</label>
                    <md-icon class="md-icon">description</md-icon>
                    <input type="text" class="form-control" ng-model="ctrl.bicycle.description"/>
                </md-input-container>

                <div layout="row" flex>
                    <md-switch aria-label="List bicycle" ng-model="ctrl.bicycle.isActive">
                        List bicycle in search results
                    </md-switch>
                </div>

            </div>

            <div class="v-font-color v-subheader" layout="row" layout-align="start center">
                <div>Additional features</div>
            </div>

            <div class="v-lr-padding" layout="column">
                <div id="features">
                    <div layout-gt-sm="row">
                        <md-input-container flex="20">
                            <md-checkbox md-no-ink ng-model="ctrl.bicycle.carrier" class="md-primary">
                                <span>Carrier</span>
                            </md-checkbox>
                        </md-input-container>
                        <md-input-container flex="20" ng-repeat="feature in ctrl.bicycleFeatures"> 
                            <md-checkbox md-no-ink ng-model="feature.isSelected" class="md-primary"> 
                                <span>{{feature.feature}} </span>
                            </md-checkbox>
                             
                        </md-input-container>
                    </div>
                    <div layout="column">
                        <md-input-container ng-repeat="feature in ctrl.newFeatures"> 
                            <md-checkbox md-no-ink ng-model="feature.isSelected" class="md-primary"> 
                                <span>{{feature.feature}} </span>
                            </md-checkbox>
                             
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container>
                            <label>Add new feature</label>
                            <input type="text" ng-model="ctrl.newFeature">
                        </md-input-container>
                        <md-button class="md-fab md-mini md-primary" ng-click="ctrl.addFeature()"
                                   ng-disabled="!ctrl.newFeature">
                            <md-icon>exposure_plus_1</md-icon>
                        </md-button>
                    </div>
                </div>
            </div>

            <div class="v-font-color v-subheader" layout="row" layout-align="start center">
                <div>Upload Pictures (max. 5)</div>
            </div>
            <md-list>
                <md-list-item hide-gt-sm class="md-2-line upload-file-list"
                              ng-repeat="x in [0,1,2,3,4]" ng-show="x === 0 || ctrl.mobileUpload[x-1]">
                    <md-icon>file_upload</md-icon>
                    <div class="md-list-item-text" layout="column">
                        <input type="file" file-model="ctrl.mobileUpload[x]"/>
                    </div>
                </md-list-item>

                <div hide-xs hide-sm>
                    <div ngf-drop ngf-select ng-model="ctrl.files" class="drop-box" ngf-drag-over-class="'dragover'"
                         ngf-multiple="true" ngf-keep="true" accept="image/*" ngf-pattern="'image/*'"
                         ngf-max-files="5" ngf-max-size="5MB" ngf-resize-if="$width > 2000 || $height > 1000"
                         ngf-resize="{width: 1920, height: 1080, quality: .7, type: 'image/jpeg',
                         centerCrop: true, pattern='.png,.jpg', restoreExif: false}" flex>
                        Drag and Drop Pictures here or click.
                    </div>
                    <div ngf-no-file-drop>Drag/Drop not supported by this browser.</div>
                    <md-list flex>
                        <md-list-item ng-repeat="f in ctrl.files track by $index">
                            <div flex layout="row" layout-align="center center">
                                <img ngf-thumbnail="f"
                                     ngf-size="{width: 48, height: 48, quality: 0.9, centerCrop:true}">
                                &nbsp; {{f.name}} &nbsp;
                                <small class="v-font-color">{{f.size/1000}} KB</small>
                                &nbsp;
                                <small class="v-warn">{{f.$error}} {{f.$errorParam}}</small>
                            </div>
                            <div flex layout="row" layout-align="center center">
                                <md-button class="md-fab md-mini md-primary" ng-click="ctrl.deleteFile($index)">
                                    <md-icon>close</md-icon>
                                </md-button>
                                <md-input-container>
                                    <label>Description (optional)</label>
                                    <input type="text" class="form-control" ng-model="ctrl.files[$index].description"/>
                                </md-input-container>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-list>
        </div>
    </div>
</form>
