<md-toolbar class="v-top-toolbar">
    <div layout="row" layout-align="start center" class="md-toolbar-tools">
        <div flex-gt-sm="90" flex-offset-gt-sm="5" flex-xl="80" flex-offset-xl="10" layout="row"
             layout-align="start center">
            <img ng-if="indexCtrl.myAvatar" ng-src="{{indexCtrl.myAvatar}}" class="md-avatar" alt="avatar"/>
            <div flex>
                Account
            </div>
        </div>
    </div>
</md-toolbar>

<div flex-gt-sm="90" flex-offset-gt-sm="5" flex-xl="80" flex-offset-xl="10" class="v-top-content">
    <md-tabs md-dynamic-height md-border-bottom md-center-tabs="true">
        <md-tab label="My Bookings">
            <div ng-include src="'components/account/templates/bookings.tpl.html'"></div>
        </md-tab>
        <md-tab label="My Bicycles">
            <div ng-include src="'components/account/templates/bicycles.tpl.html'"></div>
        </md-tab>
        <md-tab label="My Profile">
            <div ng-include src="'components/account/templates/profile.tpl.html'"></div>
        </md-tab>
    </md-tabs>
</div>