<md-content layout-padding>
    <div layout="row">
        <div flex layout="row" layout-align="start center" class="v-font-color v-subheader v-profile-margin-rightleft">
            <div>
                Personal details
            </div>
        </div>
    </div>
    <form name="userForm" ng-submit="ctrl.updateUserDetails()">
        <div layout="row" layout-xs="column">
            <div flex="20" class="v-profile-margin">
                <div layout="column" flex-gt-lg="80" flex-offset-gt-lg="10" flex="90" flex-offset="5">
                    <div layout="row" layout-align="center center">
                        <img ng-if="mainCtrl.user.avatar" ng-src="{{mainCtrl.user.avatar}}" class="v-avatar" alt="avatar" width="100"
                             height="100"/>
                        <img ng-if="!mainCtrl.user.avatar" src="/images/avatar.png" class="v-avatar" alt="avatar" width="100"
                             height="100"/>
                    </div>
                    <div layout="column" layout-align="end center">
                        <div hide-gt-sm>
                            <input flex type="file" file-model="ctrl.avatar"/>
                        </div>
                        <md-button ngf-select ngf-capture="'camera'" ng-model="ctrl.avatar" accept="image/*" hide-xs
                                   hide-sm class="md-raised">
                            Upload avatar
                        </md-button>
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                    <li class="v-rating-stars" ng-repeat="x in [1,2,3,4,5]">
                        <md-icon ng-style="{color:'orange'}" ng-show="ctrl.user.aggregatedRating >= x">
                            star
                        </md-icon>
                    </li>
                </div>
            </div>

            <div flex="80" class="v-profile-margin-right">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Username</label>
                        <input ng-model="ctrl.user.username">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>First name</label>
                        <input ng-model="ctrl.user.firstname">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Last name</label>
                        <input ng-model="ctrl.user.lastname">
                    </md-input-container>
                </div>
            </div>
        </div>

        <div layout="row">
             <div flex layout="row" layout-align="start center" class="v-font-color v-subheader v-profile-margin-rightleft">
               <div>
                   Address details
               </div>
            </div>
        </div>

        <div layout="row" layout-xs="column" class="v-profile-margin-rightleft">
            <div flex>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Street</label>
                        <input ng-model="ctrl.user.street">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Street number</label>
                        <input ng-model="ctrl.user.streetNumber" type="number">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>City</label>
                        <input ng-model="ctrl.user.city">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Country</label>
                        <input ng-model="ctrl.user.country">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Postal Code</label>
                        <input ng-model="ctrl.user.zipcode" placeholder="12345" type="number">
                    </md-input-container>
                </div>
                <div layout=column layout-align="center end">
                <md-button class="md-raised md-accent md-padding" type="submit">Save Profile Update</md-button>
                </div>

            </div>
        </div>


<!--**************RATINGS******************

        <div layout="row">
            <div flex layout="row" layout-align="start center" class="v-font-color v-subheader v-profile-margin-rightleft">
                Your Ratings
            </div>
        </div>

        <div layout="row" layout-xs="column" class="v-profile-margin-top v-profile-margin-rightleft">
            <div flex>
            [RATINGS]
            </div>
        </div>

-->


    </form>
</md-content>
