<md-toolbar id="navbarTop" class="navbar-default" ng-class="{isTransparent:isTransparent}">

    <div class="md-toolbar-tools">
        <h2 class="logo-container" flex>
            <a ng-click="mainCtrl.setPathTo('')">
                <img class="swf-logo-pointer" src="images/veloo-logo-white.png" height="50"/>
            </a>
        </h2>

        <div hide-xs hide-sm>
            <md-button class="md-padding md-raised md-accent" ng-click="mainCtrl.setPathTo('/bicycle/create')"> Offer Bicylce
            </md-button>
            <md-button class="md-padding" ng-click="mainCtrl.showSignup($event)"> <!--ng-show="!mainCtrl.isAuthed()"-->
                Signup
            </md-button>
            <md-button class="md-padding" ng-click="mainCtrl.showLogin($event)">
                Login
            </md-button>
        </div>

        <md-button class="md-icon-button"
                   ng-click="mainCtrl.toggleSidenav('right')"
                   hide-gt-sm
                   aria-label="Menu">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>

    </div>

</md-toolbar>