<md-toolbar class="md-padding">

</md-toolbar>

<md-list class="sidenav-list">

    <md-list-item class="md-1-line" ng-click="mainCtrl.setPathTo('/search')">
        <md-item-content layout="row" layout-align="start center">
            <div class="inset">
                <md-icon class="md-icon">search</md-icon>
            </div>
            <div class="inset">Search</div>
        </md-item-content>
    </md-list-item>
    <md-divider></md-divider>

        <md-list-item ng-show="mainCtrl.isAuthenticated()" class="md-1-line" ng-click="mainCtrl.setPathTo('/bicycle/create')">
            <md-item-content layout="row" layout-align="start center">
                <div class="inset">
                    <md-icon class="md-icon">directions_bike</md-icon>
                </div>
                <div class="inset">Offer Bicycle</div>
            </md-item-content>
        </md-list-item>
        <md-divider></md-divider>

        <md-list-item class="md-1-line" ng-click="mainCtrl.showSignup()">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                    <md-icon class="md-icon">account_box</md-icon>
                </div>
                <div class="inset">Signup</div>
            </md-item-content>
        </md-list-item>
        <md-divider></md-divider>

    <md-list-item class="md-1-line" ng-click="mainCtrl.setPathTo('/account')" ng-show="mainCtrl.isAuthenticated()">
        <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
                <md-icon class="md-icon">person</md-icon>
            </div>
            <div class="inset">My Account</div>
        </md-item-content>
    </md-list-item>
    <md-divider></md-divider>

        <md-list-item class="md-1-line" ng-click="mainCtrl.showLogin()" ng-show="!mainCtrl.isAuthenticated()">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                    <md-icon class="md-icon">input</md-icon>
                </div>
                <div class="inset">Login</div>
            </md-item-content>
        </md-list-item>
        <md-divider></md-divider>

    <md-list-item class="md-1-line" ng-click="mainCtrl.logout()" ng-show="mainCtrl.isAuthenticated()">
        <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
                <md-icon class="md-icon">input</md-icon>
            </div>
            <div class="inset">Logout</div>
        </md-item-content>
    </md-list-item>
    <md-divider></md-divider>

</md-list>