<md-dialog aria-label="Login" class="dialog-container" ng-cloak flex-gt-sm="40">
    <form name="facebookLoginForm" ng-submit="ctrl.loginWithFacebook()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Signup with Facebook</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon class="md-icon">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <md-input-container class="md-icon-float md-block">
                <label>Enter a username</label>
                <md-icon class="md-icon">person</md-icon>
                <input type="text" name="username" class="form-control" ng-model="ctrl.username" required/>
            </md-input-container>
            <md-content layout="column" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary">Login with Facebook</md-button>
            </md-content>
        </md-content>
    </form>
</md-dialog>