<md-dialog aria-label="Login" class="dialog-container" ng-cloak flex-gt-sm="40">
    <form name="forgotPasswordForm" ng-submit="ctrl.sendPasswordToMail()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Forgot Password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon class="md-icon">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <md-input-container class="md-icon-float md-block">
                <label>Enter Email-address</label>
                <md-icon class="md-icon">mail</md-icon>
                <input type="text" name="email" class="form-control" ng-model="ctrl.email" required/>
            </md-input-container>
            <md-content layout="column" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary">Send password</md-button>
            </md-content>
        </md-content>
    </form>
</md-dialog>