<md-toolbar class="v-top-toolbar">
    <div layout="row" layout-align="start center" class="md-toolbar-tools">
        <div flex-gt-sm="90" flex-offset-gt-sm="5" flex-xl="80" flex-offset-xl="10" layout="row">
            <div flex>
                Edit a bicycle
            </div>
        </div>
    </div>
</md-toolbar>
<div layout-gt-sm="row" flex-gt-lg="80" flex-offset-gt-lg="10" flex="90" flex-offset="5" class="v-top-content" style="margin-bottom:20px;">
    <h1>
        {{ctrl.test}}
    </h1>
</div>