<div layout-gt-xs="row" layout-align-gt-xs="center start" ; style="background: rgba(0,0,0,0.7); color:white"
     layout-padding>

    <div flex-gt-xs="33" layout-gt-xs="row" layout-align-gt-xs="end center">
        <ul class="v-footer-ul">
            <li class="md-title">Company</li>
            <br>
            <li>About</li>
            <li>Careers</li>
            <li>Press</li>
            <li>Blog</li>
        </ul>
    </div>

    <div flex-gt-xs="33" layout-gt-xs="row" layout-align-gt-xs="center center">
        <ul class="v-footer-ul">
            <li class="md-title">Discover</li>
            <br>
            <li>Trust & Safety</li>
            <li>Credit</li>
            <li>Gift Cards</li>
            <li>Veloo Action</li>
            <li>Business Travel</li>

        </ul>
    </div>

    <div flex-gt-xs="33" layout-gt-xs="row">
        <ul class="v-footer-ul">
            <li class="md-title">Help me</li>
            <br>
            <li>Disaster Response</li>
            </li>
            <li>Terms & Privacy</li>
            </li>
            <li><a>Help</a></li>
            <li>Site Map</li>
        </ul>
    </div>
</div>

<div style="border-bottom:1px solid white"></div>


<div layout="column" layout-align="center center" layout-padding style="background-color: rgba(0,0,0,0.7)">
    <div><b style="color:white">Join us on</b></div>

    <div>
        <a href="http://www.facebook.com"><img src="images/facebook.png" alt="Facebook" style="width:25px;height:25px;"></a>&emsp;
        <a href="http://www.instagram.com"><img src="images/instagram.png" alt="Facebook"
                                                style="width:25px;height:25px;"></a>&emsp;
        <a href="http://www.twitter.com"><img src="images/twitter.png" alt="Facebook"
                                              style="width:25px;height:25px;"></a>&emsp;
        <a href="http://www.pinterest.com"><img src="images/pinterest.png" alt="Facebook"
                                                style="width:25px;height:25px;"></a>&emsp;
        <a href="http://www.youtube.com"><img src="images/youtube.png" alt="Facebook"
                                              style="width:25px;height:25px;"></a>&emsp;
        <a href="http://www.vimeo.com"><img src="images/vimeo.png" alt="Facebook" style="width:25px;height:25px;"></a>&emsp;

    </div>

</div>