<!--
<div class="v-home-head" layout="row" layout-align="center center">
   <p class="md-display-1">How to rent a bicycle.</p>
</div>

<div layout="column">

    <div flex class="v-home-howtorent" layout-gt-sm="row" layout-align="center center">

            <img flex="80" src="images/lookingforabicycle.png" alt="Looking for a bicycle?">
    </div>


    <div class="v-home-head" layout="row" layout-align="center center">
        <p class="md-display-1">How to offer a bicycle.</p>
    </div>

    <div flex class="v-home-howtooffer" layout-gt-sm="row" layout-align="center center">
            <img flex="80" src="images/offeringabicycle.png" alt="Offering a bicycle?">
    </div>

</div>
-->
