<!--
<div class="v-home-head" layout="row" layout-align="center center">
   <p class="md-display-1">How to rent a bicycle.</p>
</div>

<div layout="column">

    <div flex class="v-home-howtorent" layout-gt-sm="row" layout-align="center center">

            <img flex="80" src="images/lookingforabicycle.png" alt="Looking for a bicycle?">
    </div>


    <div class="v-home-head" layout="row" layout-align="center center">
        <p class="md-display-1">How to offer a bicycle.</p>
    </div>

    <div flex class="v-home-howtooffer" layout-gt-sm="row" layout-align="center center">
            <img flex="80" src="images/offeringabicycle.png" alt="Offering a bicycle?">
    </div>

</div>
-->


<div flex layout="column" layout-padding class="v-home-rent-section">
    <div flex layout="column" layout-align="center center">
        <span class="md-display-1 v-color"> How to rent a bicycle </span>
        <hr class="v-home-hr-rent">
    </div>

    <div>
        <div flex-gt-sm="60" layout-gt-sm="row" flex-offset-gt-sm="20" class="v-color">
            <div flex layout="column" layout-align="center center" layout-padding>
                 <!--when-visible="ctrl.animateElementIn"
                 when-not-visible="ctrl.animateElementOut" class="v-hidden"-->
                <img width="128" height="128" src="images/search.png" />
                <h3>1. Search</h3>
                <p style="text-align: center">Search for your favorite <br> bicycle in your area.</p>
            </div>
            <div flex layout="column" layout-align="center center" layout-padding>
                <img width="128" height="128" src="images/handshake.png" />
                <h3>2. Book </h3>
                <p style="text-align: center"> Quick and easy <br> booking process.</p>
            </div>
            <div flex layout="column" layout-align="center center" layout-padding>
                <img width="128" height="128" src="images/ride.png" />
                <h3>3. Ride </h3>
                <p style="text-align: center">Enjoy your ride <br> with Veloo.</p>
            </div>
        </div>
    </div>
</div>

<div flex layout="column" class="v-home-offer-section" layout-padding>
    <div flex layout="column" layout-align="center center">
        <span class="md-display-1 v-color-white"> How to offer your bicycle </span>
        <hr class="v-home-hr-offer">
    </div>

    <div>
        <div flex-gt-sm="60" layout-gt-sm="row" flex-offset-gt-sm="20">
            <div flex layout="column" layout-align="center center" layout-padding class="v-color-white">
                <!--when-visible="ctrl.animateElementIn"
                when-not-visible="ctrl.animateElementOut" class="v-hidden"-->
                <img width="128" height="128" src="images/list2.png" />
                <h3>1. List</h3>
                <p style="text-align: center">Fill out the bicycle <br> registration form.</p>
            </div>
            <div flex layout="column" layout-align="center center" layout-padding class="v-color-white">
                <img width="128" height="128" src="images/for-rent.png" />
                <h3>2. Offer</h3>
                <p style="text-align: center"> Offer your bicycle <br> for rent.</p>
            </div>
            <div flex layout="column" layout-align="center center" layout-padding class="v-color-white">
                <img width="128" height="128" src="images/money.png" />
                <h3>3. Earn</h3>
                <p style="text-align: center">Earn money <br> and feel good.</p>
            </div>
        </div>
    </div>
</div>
