<div class="v-home-head">
    <b>How it works</b>
</div>

<div layout="column" layout-align="center center">
    <div flex class="v-home-howtorent">
        <div layout-gt-sm="column"  flex-gt-sm="80" flex-offset-gt-sm="10">
            <img src="images/lookingforabicycle.png" alt="Looking for a bicycle?">
        </div>
    </div>

    <div flex class="v-home-howtooffer">
        <div layout-gt-sm="column" flex-gt-sm="80" flex-offset-gt-sm="10">
            <img src="images/offerabicycle.png" alt="Offering a bicycle?">
        </div>
    </div>
</div>


