<div layout="row" layout-align="center center" class="v-top-content-search" flex>
    <div flex flex-gt-sm="90" layout-gt-sm="row" layout-align="start center">
        <div flex flex-gt-sm="20" layout="row">
            <md-input-container flex class="md-icon-float" layout="row" layout-align="end end">
                <md-icon class="md-icon">location_on</md-icon>
                <input type="text" class="form-control" placeholder="Address" required ng-model="ctrl.searchFilter.q"/>
            </md-input-container>
        </div>
        <div flex layout="row">
            <md-datepicker ng-model="ctrl.searchFilter.startDate" md-date-filter="ctrl.availableFilterStartDate" md-placeholder="Start date"></md-datepicker>
        </div>
        <div flex>
            <md-datepicker ng-model="ctrl.searchFilter.endDate" md-date-filter="ctrl.availableFilterEndDate" md-placeholder="End date"></md-datepicker>
        </div>
        <div flex flex-gt-sm="15">
            <md-input-container flex class="md-icon-float">
                <label class="md-caption">Bicycle Type</label>
                <md-icon class="md-icon">directions_bike</md-icon>
                <md-select ng-model="ctrl.searchFilter.type">
                    <md-option ng-repeat="type in ctrl.bicycleTypes">
                        {{type}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div flex>
            <md-input-container class="md-icon-float ">
                <label>Size</label>
                <md-icon class="md-icon">format_size</md-icon>
                <md-select ng-model="ctrl.searchFilter.size">
                    <md-option ng-repeat="size in ctrl.bicycleSizes">
                        {{size}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>


        <div flex layout="row" layout-align="center center">
            <md-button class="md-primary md-raised" ng-click="ctrl.getSearchResultsWithPaginationOffset(0)">
                <md-icon>search</md-icon>
                <span>Apply filters </span>
            </md-button>
        </div>
    </div>
</div>

<div layout="row">
    <div flex class="v-search-map v-card-style" flex="35" hide-sm hide-xs>
        <div>
            <ui-gmap-google-map center='ctrl.map.center' zoom='ctrl.map.zoom'>
                <ui-gmap-markers models="ctrl.markers" coords="'coords'" click="ctrl.showMarkerWindow">
                    <ui-gmap-windows show="'show'">
                        <div ng-non-bindable> {{title}}</div>
                    </ui-gmap-windows>
                </ui-gmap-markers>

            </ui-gmap-google-map>
        </div>
    </div>

    <md-content class="v-search-results" flex="65">
        <div layout-gt-sm="row" ng-repeat="bicycle in ctrl.bicycles track by $index"
             ng-show="$index % 2 == 0 || $index == 0">
            <md-card flex-gt-sm="45" ng-show="ctrl.bicycles[$index]"
                     ng-mouseover="ctrl.showSelectedBicycleMarker($index)"
                     ng-mouseleave="ctrl.hideSelectedBicycleMarker($index)"
                     ng-class="{'v-not-available':!ctrl.bicycles[$index].available}" class="v-hover-search-result"
                     ng-click="mainCtrl.setPathTo('/bicycle/'+ctrl.bicycles[$index]._id)">
                <div class="card-image-container"
                     ng-click="mainCtrl.setPathTo('bicycle/'+ctrl.bicycles[$index]._id)">
                    <img ng-src="{{ctrl.bicycles[$index].pictures[0].data}}">
                </div>
                <md-card-title>
                    <md-card-title-text layout="row" layout-align="center center">
                        <span class="md-headline">{{ctrl.bicycles[$index].type}} - {{ctrl.bicycles[$index].city}} </span>
                        <div layout="row" ng-show="ctrl.bicycles[$index].provider.aggregatedRating"
                             layout-align="center center">
                            <li class="stars" ng-repeat="i in [1,2,3,4,5]">
                                <md-icon ng-style="{color:'orange'}"
                                         ng-show="ctrl.bicycles[$index].provider.aggregatedRating >= i">
                                    star
                                </md-icon>
                            </li>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row">
                    <div layout="row" layout-align="start center" flex>
                        <div flex layout="row" layout-align="start center">
                            <md-icon>euro_symbol</md-icon>
                            <div class="v-lr-padding" flex><b>{{ctrl.bicycles[$index].price}}</b>/day</div>
                        </div>
                        <div flex layout="row" layout-align="center center">
                            <span flex></span>
                            <md-icon flex="none">polymer</md-icon>
                            <div class="v-lr-padding"><b>{{ctrl.bicycles[$index].brand}}</b></div>
                            <span flex></span>
                        </div>
                        <div flex layout="row" layout-align="end center">
                            <span flex></span>
                            <md-icon flex="none">format_size</md-icon>
                            <div class="v-lr-padding"><b>{{ctrl.bicycles[$index].size}}</b></div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <md-card flex-gt-sm="45" ng-show="ctrl.bicycles[$index+1]"
                     ng-mouseenter="ctrl.showSelectedBicycleMarker($index+1)"
                     ng-class="{'v-not-available':!ctrl.bicycles[$index+1].available}" class="v-hover-search-result"
                     ng-click="mainCtrl.setPathTo('/bicycle/'+ctrl.bicycles[$index+1]._id)"
                     ng-mouseleave="ctrl.hideSelectedBicycleMarker($index+1)">
                <div class="card-image-container"
                     ng-click="mainCtrl.setPathTo('bicycle/'+ctrl.bicycles[$index+1]._id)">
                    <img ng-src="{{ctrl.bicycles[$index+1].pictures[0].data}}">
                </div>
                <md-card-title>
                    <md-card-title-text layout="row" layout-align="center center">
                        <span class="md-headline">{{ctrl.bicycles[$index+1].type}} - {{ctrl.bicycles[$index+1].city}} </span>
                        <div layout="row" ng-show="ctrl.bicycles[$index+1].provider.aggregatedRating"
                             layout-align="center center">
                            <li class="stars" ng-repeat="i in [1,2,3,4,5]">
                                <md-icon ng-style="{color:'orange'}"
                                         ng-show="ctrl.bicycles[$index+1].provider.aggregatedRating >= i">
                                    star
                                </md-icon>
                            </li>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row">
                    <div layout="row" layout-align="start center" flex>
                        <div flex layout="row" layout-align="start center">
                            <md-icon>euro_symbol</md-icon>
                            <div class="v-lr-padding" flex><b>{{ctrl.bicycles[$index+1].price}}</b>/day</div>
                        </div>
                        <div flex layout="row" layout-align="center center">
                            <span flex></span>
                            <md-icon flex="none">polymer</md-icon>
                            <div class="v-lr-padding"><b>{{ctrl.bicycles[$index+1].brand}}</b></div>
                            <span flex></span>
                        </div>
                        <div flex layout="row" layout-align="end center">
                            <span flex></span>
                            <md-icon flex="none">format_size</md-icon>
                            <div class="v-lr-padding"><b>{{ctrl.bicycles[$index+1].size}}</b></div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>

        <div class="md-padding pagination" flex layout="row" layout-align="center center">
            <div>
                <a class="v-a-tag-custom" ng-repeat="i in ctrl.paginationArray track by $index"
                   ng-class="{'v-paginate-active': ctrl.paginationActiveIndex($index+1)}"
                   ng-click="ctrl.getSearchResultsWithPaginationOffset($index*10)">
                    {{$index + 1}}
                </a>
            </div>
        </div>
    </md-content>
</div>
