<!DOCTYPE html>
<html lang="en" ng-app="velooAngular">

<head>
    <title>Veloo</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" href="images/favicon.ico">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- lib:css -->
    <!-- bower installed css files will go here... -->
    <!-- endinject -->

</head>

<body layout='column' ng-controller="mainCtrl as mainCtrl" ng-cloak>

<div id='nav' ng-include src="'components/main/templates/navbar.tpl.html'">
</div>

<md-content scroll flex layout='column' ng-class="{scrollable:mainCtrl.scrollable()}" ng-class="{{mainCtrl.isFrontPage() ? '' : 'not-front-page'}}">

    <header md-page-header ng-if="mainCtrl.isFrontPage()">
            <div class="header-content">
                <div id="citationContainer" class="header-content-inner">
                    <h1 ng-click="setPathTo">Find your Veloo</h1>
                    <hr>
                    <md-autocomplete flex="50" flex-offset="25"
                                     md-selected-item="mainCtrl.selectedItem"
                                     md-search-text-change="mainCtrl.searchTextChange(mainCtrl.searchText)"
                                     md-search-text="mainCtrl.searchText"
                                     md-selected-item-change="mainCtrl.selectedItemChange(item)"
                                     md-items="item in mainCtrl.getSearchHints(mainCtrl.searchText)"
                                     md-item-text="item.name"
                                     md-min-length="2"
                                     placeholder="Suchen nach ..."
                                     ng-keypress="mainCtrl.showSearchResults($event, mainCtrl.searchText)"
                                     md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                            <div flex ng-click="mainCtrl.setPathTo('transactionObject/'+item.id)">
                            <span class="item-title">
                                <md-icon>place</md-icon>
                                <span> {{item.name}} </span>
                            </span>
                            </div>
                        </md-item-template>
                        <md-not-found>
                            Keine Ergebnisse zu {{mainCtrl.searchText}}.
                        </md-not-found>
                    </md-autocomplete>
                </div>
            </div>
    </header>

    <div id='content' ng-view autoscroll="true" flex>
    </div>

    <div id='footer'>
        <footer ng-include src="'components/home/templates/footer.tpl.html'"></footer>
    </div>

</md-content>


<!-- JS-DEPENDENCIES -->

<!-- lib:js -->
<!-- bower installed scripts will go here... -->
<!-- endinject -->

<!-- Angular JS Components -->
<script src="components/app.js"></script>
<script src="components/share/router.js"></script>
<script src="components/share/services.js"></script>

<script src="components/main/main.controller.js"></script>

<script src="components/home/home.controller.js"></script>
<script src="components/home/home.directives.js"></script>

</body>

</html>
