<!DOCTYPE html>
<html lang="en" ng-app="velooAngular">

<head>
    <title>Veloo</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" href="images/favicon.ico">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- lib:css -->
    <!-- bower installed css files will go here... -->
    <!-- endinject -->

</head>

<body layout='column' ng-controller="mainCtrl as mainCtrl" ng-cloak>

<div id='nav' ng-include src="'components/main/templates/navbar.tpl.html'">
</div>
<md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="right"
            is-locked-open="$media('sm')"
            hide-gt-sm flex
            ng-include src="'components/main/templates/sidenav.tpl.html'">
</md-sidenav>
<!--<div id="sidenav" ng-include src="'components/main/templates/sidenav.tpl.html'"></div>-->

<md-content scroll flex layout='column' ng-class="{scrollable:mainCtrl.scrollable()}" ng-class="{{mainCtrl.currentLocation()=='/' ? '' : 'not-front-page'}}">

    <header md-page-header ng-if="mainCtrl.currentLocation()=='/'">
            <div class="header-content">
                <div id="citationContainer" class="header-content-inner">
                    <h1 class="md-display-1">Find your Veloo</h1> <br>
                    <h1 class="md-headline"> Bicycle rental made easy </h1>
                    <hr>
                    <md-autocomplete flex="50" flex-offset="25"
                                     md-selected-item="mainCtrl.selectedItem"
                                     md-search-text-change="mainCtrl.searchTextChange(mainCtrl.searchText)"
                                     md-search-text="mainCtrl.searchText"
                                     md-selected-item-change="mainCtrl.selectedItemChange(item)"
                                     md-items="item in mainCtrl.getSearchHints(mainCtrl.searchText)"
                                     md-item-text="item.name"
                                     md-min-length="2"
                                     placeholder="Search for bicycles ..."
                                     ng-keypress="mainCtrl.showSearchResults($event, mainCtrl.searchText)"
                                     md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                            <div flex ng-click="mainCtrl.setPathTo('bicycle/'+item._id)">
                            <span class="item-title">
                                <md-icon>directions_bike</md-icon>
                                <span> {{item.city}} - {{item.type}} - {{item.description}} </span>
                            </span>
                            </div>
                        </md-item-template>
                        <md-not-found>
                            No results for {{mainCtrl.searchText}}.
                        </md-not-found>
                    </md-autocomplete>
                </div>
            </div>
    </header>

    <div id='content' ng-view autoscroll="true" flex>
    </div>

    <div id='footer' ng-if="mainCtrl.currentLocation()=='/'">
        <footer ng-include src="'components/home/templates/footer.tpl.html'"></footer>
    </div>

</md-content>


<!-- JS-DEPENDENCIES -->

<!-- lib:js -->
<!-- bower installed scripts will go here... -->
<!-- endinject -->

<!-- Angular JS Components -->
<script src="components/app.js"></script>
<script src="components/share/router.js"></script>
<script src="components/share/services.js"></script>

<script src="components/main/main.controller.js"></script>
<script src="components/main/directives/scroll.directive.js"></script>

<script src="components/home/home.controller.js"></script>

<script src="components/bicycle/show/show.controller.js"></script>
<script src="components/bicycle/create/create.controller.js"></script>
<script src="components/bicycle/edit/edit.controller.js"></script>
<script src="components/bicycle/show/carouselDirective.js"></script>

<script src="components/booking/booking.controller.js"></script>
<script src="components/booking/messageBoxDirective.js"></script>

<script src="components/auth/auth.controller.js"></script>
<script src="components/auth/auth.services.js"></script>

<script src="components/search/search.service.js"></script>
<script src="components/search/search.controller.js"></script>

<script src="components/account/account.controller.js"></script>

<script src="components/auth/fblogin.controller.js"></script>

</body>

</html>
